*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica,Arial,sans-serif;
  color-scheme: light dark;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root{
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color:#99b9ff;
}

html{
  font-size: 55.5%;
}
body{
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}
h1{
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea{
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a{
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li{
  list-style: none;
}

.container{
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.grid{
  display: grid;
  gap: 6.4rem;
}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
.grid-four-cols{
  grid-template-columns: repeat(4,1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.heroImage img {
  width: 100rem;
  max-width: 420px;
  height: auto;
}
.aboutimage,
.registration-image,
.login-image
img {
  width: 100rem;
  max-width: 420px;
  height: auto;
  scale: 1.3;
}
/* .contactimage img {
  width: 100rem;
  max-width: 420px;
  height: auto;
} */

button{
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}
.secondarybtn{
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}
/* state rules */
button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}
a:hover,
a.active{
  color: var(--bg-color);
  }

  .section-hero{
    & .grid{
      align-items: center;
    }
    .herocontent{
    & p{
      margin: 2.4rem 0 4.8rem 0;
      &:first-child{
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .heroimage{
    display: flex;
    justify-content: center;
    & img{
      width: 70%;
      height: auto;
    }
  }
  }
.section-analytics{
  margin: 9.6rem 0;
  & .container{
    background-color: var(--bg-color);
    border-radius: 1rem;
    
  }
  & .grid{
    color: var(--dark-color);
    & .div1{
      text-align: center;
      padding: 0 8rem 0 0;
      border-right: 0.2rem solid var(--dark-color);
      &:last-child{
        border: none;
      }
      & h2{
        font-size: xx-large;
      }
      & p{
        text-transform: capitalize;
      }
    }
  }
}
.foot{
  background-color: #646cff;
  
}

/* contact section */
.section-contact{
  & .contact-content{
    padding: 0;
    & h1{
      margin-bottom: 3.2rem;
    }
  }
  & .container{
    padding-top: 3.2rem;
  }
  & .contactimage{
    display: flex;
    justify-content: start;
    align-items: center;
    & img{
      width: 100%;
      height: auto;
      scale: 1.7;
    }
  }
  & .contactform{
    width: 50%;
    & form{
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & label{
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }
    & input,
    textarea{
      width: 80%;
      padding: 0.2rem 0.6rem;
    }
    & button{
      margin: 0 auto 2rem 0;
      padding: 1rem 3rem;
    }
  }
}
.errorpage{
  & .content{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    width: 80%;
    margin: auto;
    & h2{
      font-size: 20rem;
    }
    & h4{
      font-size: 3rem;
    }
    & p{
      margin: 3rem 0;
      width: 40vw;
    }
  }
}
.applayout {
  flex: 1;
  display: flex;
  flex-direction: column;
  & .content{
    flex:1;
  }
}
.abouttext{
  width: 40%;
  
}
.registration-form{
    width: 50%;
    & form{
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & label{
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }
    & input,
    textarea{
      width: 80%;
      padding: 0.2rem 0.6rem;
    }
    & button{
      margin: 0 auto 2rem 0;
      padding: 1rem 3rem;
    }
  }
.login-form{
    width: 50%;
    & form{
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & label{
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }
    & input,
    textarea{
      width: 80%;
      padding: 0.2rem 0.6rem;
    }
    & button{
      margin: 0 auto 2rem 0;
      padding: 1rem 3rem;
    }
  }
  .mainheading{
    position: relative;
    text-transform: capitalize;
    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 0.5rem;
      background-color: #646cff;
    }
  }

  .toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif; 
  font-size: 2rem ;
}
.nav-item{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
table{
  background: #f4f3ff;
  box-shadow: rgba(255,255,255,0.2) 0px 7px 29px 0;
  border-collapse: collapse;
  border-radius: 1rem;
}
td{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  padding: 3rem;
  text-align: center;
  color: var(--dark-color);
  width: 30rem;
}
body tr{
  display: grid;
  grid-template-columns: repeat(5,minmax(10rem,1fr));
  align-items: center;
  box-shadow: 0 0.3rem 0 grey;
  margin-bottom: 10px;
  border-bottom: 4px solid transparent;
  &:last-child{
    box-shadow: none;
  }
}
th{
  color: var(--dark-color);
  padding-top: 3rem;
  font-size: medium;
  text-align: center;
}
thead{
  box-shadow: 0 0.3rem 0 black;
}